In [ ]:
#install kaggle
! pip install kaggle

In [88]:
#import the kaggle
import kaggle

In [89]:
#link to download the dataset from kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
#to  unzip the csv file 
import zipfile

# Path to the ZIP file
zip_file_path = r"C:\Users\monik\OneDrive\Desktop\Guvi_Projects\MiniProject1\orders.csv.zip"  #using 'r' for raw string coz '\' is used for escape character
# Folder to extract the files into
output_folder = r"C:\Users\monik\OneDrive\Desktop\Guvi_Projects\MiniProject1\Unzip"

# Unzip the file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref: #open the zip file in read mode 
    zip_ref.extractall(output_folder) #extract the content in zip file 

print(f"All files extracted to {output_folder}")

In [ ]:
#install pandas
!pip install pandas

In [92]:
import pandas as pd 

file_path = r"c:\Users\monik\OneDrive\Desktop\Guvi_Projects\MiniProject1\Unzip\orders.csv"

# Read the file into a DataFrame
df = pd.read_csv(file_path)

In [93]:
#display the table
print(df)

      Order Id  Order Date       Ship Mode    Segment        Country  \
0            1  2023-03-01    Second Class   Consumer  United States
1            2  2023-08-15    Second Class   Consumer  United States
2            3  2023-01-10    Second Class  Corporate  United States
3            4  2022-06-18  Standard Class   Consumer  United States
4            5  2022-07-13  Standard Class   Consumer  United States
...        ...         ...             ...        ...            ...
9989      9990  2023-02-18    Second Class   Consumer  United States
9990      9991  2023-03-17  Standard Class   Consumer  United States
9991      9992  2022-08-07  Standard Class   Consumer  United States
9992      9993  2022-11-19  Standard Class   Consumer  United States
9993      9994  2022-07-17    Second Class   Consumer  United States

                 City       State  Postal Code Region         Category  \
0           Henderson    Kentucky        42420  South        Furniture
1           Henderson    Kentucky        42420  South        Furniture
2         Los Angeles  California        90036   West  Office Supplies
3     Fort Lauderdale     Florida        33311  South        Furniture
4     Fort Lauderdale     Florida        33311  South  Office Supplies
...               ...         ...          ...    ...              ...
9989            Miami     Florida        33180  South        Furniture
9990       Costa Mesa  California        92627   West        Furniture
9991       Costa Mesa  California        92627   West       Technology
9992       Costa Mesa  California        92627   West  Office Supplies
9993      Westminster  California        92683   West  Office Supplies

     Sub Category       Product Id  cost price  List Price  Quantity  \
0       Bookcases  FUR-BO-10001798         240         260         2
1          Chairs  FUR-CH-10000454         600         730         3
2          Labels  OFF-LA-10000240          10          10         2
3          Tables  FUR-TA-10000577         780         960         5
4         Storage  OFF-ST-10000760          20          20         2
...           ...              ...         ...         ...       ...
9989  Furnishings  FUR-FU-10001889          30          30         3
9990  Furnishings  FUR-FU-10000747          70          90         2
9991       Phones  TEC-PH-10003645         220         260         2
9992        Paper  OFF-PA-10004041          30          30         4
9993   Appliances  OFF-AP-10002684         210         240         2

      Discount Percent
0                    2
1                    3
2                    5
3                    2
4                    5
...                ...
9989                 4
9990                 4
9991                 2
9992                 3
9993                 3

[9994 rows x 16 columns]

In [94]:
# Detect missing values
missing_values = df.isna()
print(missing_values)

      Order Id  Order Date  Ship Mode  Segment  Country   City  State  \
0        False       False      False    False    False  False  False
1        False       False      False    False    False  False  False
2        False       False      False    False    False  False  False
3        False       False      False    False    False  False  False
4        False       False      False    False    False  False  False
...        ...         ...        ...      ...      ...    ...    ...
9989     False       False      False    False    False  False  False
9990     False       False      False    False    False  False  False
9991     False       False      False    False    False  False  False
9992     False       False      False    False    False  False  False
9993     False       False      False    False    False  False  False

      Postal Code  Region  Category  Sub Category  Product Id  cost price  \
0           False   False     False         False       False       False
1           False   False     False         False       False       False
2           False   False     False         False       False       False
3           False   False     False         False       False       False
4           False   False     False         False       False       False
...           ...     ...       ...           ...         ...         ...
9989        False   False     False         False       False       False
9990        False   False     False         False       False       False
9991        False   False     False         False       False       False
9992        False   False     False         False       False       False
9993        False   False     False         False       False       False

      List Price  Quantity  Discount Percent
0          False     False             False
1          False     False             False
2          False     False             False
3          False     False             False
4          False     False             False
...          ...       ...               ...
9989       False     False             False
9990       False     False             False
9991       False     False             False
9992       False     False             False
9993       False     False             False

[9994 rows x 16 columns]

In [95]:
# Sum of missing values in each column
missing_counts = df.isna().sum()
print(missing_counts)

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [96]:
#filling the missing value with 0
df['Ship Mode'].fillna(0, inplace=True)

C:\Users\monik\AppData\Local\Temp\ipykernel_29848\2957531471.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ship Mode'].fillna(0, inplace=True)

In [97]:
#then check the missing count again
missing_counts = df.isna().sum()
print(missing_counts)

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [98]:
#to check the column name
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [99]:
#rename column 
# lowercase the column names
df.columns = df.columns.str.lower()

# add '_' in empty spaces inbetween 
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [100]:
#Trim spacing
df.columns=df.columns.str.strip()
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [101]:
# derive new columns
df['discount'] = (df.list_price * df.discount_percent) / 100  # actual discount column in amount
df['sale_price'] = df.list_price - df.discount  # sale_price is (list price - discount)
df['profit'] = (df.sale_price - df.cost_price)  # profit is (sale price - cost price)
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [102]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [103]:
# moving df as dataframe_1.csv file
df.to_csv('dataframe.csv', index=False)

In [104]:
#splitting table df1
df1=df[['order_id','order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category']]
print(df1)

      order_id  order_date       ship_mode    segment        country  \
0            1  2023-03-01    Second Class   Consumer  United States
1            2  2023-08-15    Second Class   Consumer  United States
2            3  2023-01-10    Second Class  Corporate  United States
3            4  2022-06-18  Standard Class   Consumer  United States
4            5  2022-07-13  Standard Class   Consumer  United States
...        ...         ...             ...        ...            ...
9989      9990  2023-02-18    Second Class   Consumer  United States
9990      9991  2023-03-17  Standard Class   Consumer  United States
9991      9992  2022-08-07  Standard Class   Consumer  United States
9992      9993  2022-11-19  Standard Class   Consumer  United States
9993      9994  2022-07-17    Second Class   Consumer  United States

                 city       state  postal_code region         category  \
0           Henderson    Kentucky        42420  South        Furniture
1           Henderson    Kentucky        42420  South        Furniture
2         Los Angeles  California        90036   West  Office Supplies
3     Fort Lauderdale     Florida        33311  South        Furniture
4     Fort Lauderdale     Florida        33311  South  Office Supplies
...               ...         ...          ...    ...              ...
9989            Miami     Florida        33180  South        Furniture
9990       Costa Mesa  California        92627   West        Furniture
9991       Costa Mesa  California        92627   West       Technology
9992       Costa Mesa  California        92627   West  Office Supplies
9993      Westminster  California        92683   West  Office Supplies

     sub_category
0       Bookcases
1          Chairs
2          Labels
3          Tables
4         Storage
...           ...
9989  Furnishings
9990  Furnishings
9991       Phones
9992        Paper
9993   Appliances

[9994 rows x 11 columns]

In [105]:
#splitting table df2
df2=df[['order_id','product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount', 'sale_price', 'profit']]
print(df2)

      order_id       product_id  cost_price  list_price  quantity  \
0            1  FUR-BO-10001798         240         260         2
1            2  FUR-CH-10000454         600         730         3
2            3  OFF-LA-10000240          10          10         2
3            4  FUR-TA-10000577         780         960         5
4            5  OFF-ST-10000760          20          20         2
...        ...              ...         ...         ...       ...
9989      9990  FUR-FU-10001889          30          30         3
9990      9991  FUR-FU-10000747          70          90         2
9991      9992  TEC-PH-10003645         220         260         2
9992      9993  OFF-PA-10004041          30          30         4
9993      9994  OFF-AP-10002684         210         240         2

      discount_percent  discount  sale_price  profit
0                    2       5.2       254.8    14.8
1                    3      21.9       708.1   108.1
2                    5       0.5         9.5    -0.5
3                    2      19.2       940.8   160.8
4                    5       1.0        19.0    -1.0
...                ...       ...         ...     ...
9989                 4       1.2        28.8    -1.2
9990                 4       3.6        86.4    16.4
9991                 2       5.2       254.8    34.8
9992                 3       0.9        29.1    -0.9
9993                 3       7.2       232.8    22.8

[9994 rows x 9 columns]

In [106]:
# df1 as dataframe1.csv
df1.to_csv('dataframe1.csv', index=False)

In [107]:
#df2 as dataframe2.csv
df2.to_csv('dataframe2.csv', index=False)

In [ ]:
!pip install mysql-connector-python

In [ ]:
#connecting XAMPP server 
import mysql.connector 

mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",
 database="retailorder"

 )

print(mydb)
mycursor = mydb.cursor(buffered=True)

In [ ]:
#create database 
mycursor.execute("create database retailorder")

In [ ]:
#to check the dataframe 
mycursor.execute("select * from dataframe_1")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description], tablefmt='psql'))